.lewy {
  float:left;
  background-color:#666;
}
.prawy {
float:right;
   background-color:#555;
}

.lewy , .prawy {
  color:#fff;
    border: 1px solid black;
    border-radius:5px;
  padding:5px;
  width:45%;
}
.lewy input , .prawy input {
  margin:1%;
  width:95%;
}
.guzik {
  background-color:#fAC;
  width:100%;
}

.guzik , .lewy input , .prawy input {
  padding:5px;
  border:2px solid black;
  border-radius:5px;
  color:#111;
}

.lewy input:hover , .prawy input:hover, 
.lewy input:active , .prawy input:active {
    background-color:blue;
    color:#fff;
} 
